{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "plugins": ["prettier-plugin-toml", "prettier-plugin-sh"],
  "overrides": [
    {
      "files": ["*.jsonc"],
      "options": {
        "trailingComma": "none"
      }
    },
    {
      "files": [".*rc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
